.card_mobile-space {
    margin-left: 20px;
}

.btn_card {
    height: 30px;
    text-align: center;
}

.course_img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    align-items: center;
}

.course_card {
    /* width: 100%;
    height: 300px; */
}

.wp-button {
    margin-top: 14px;
}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
    .card_mobile-space {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
