.card_mobile-space {
    margin-left: 20px;
}

.btn_card {
    height: 30px;
    text-align: center;
}

.course_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    align-items: center;
}

.course_card {
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .card_mobile-space {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
